.about-me-content {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: ghostwhite;
}

.photo {
  width: 400px;
  height: 400px;
  background: #000 url("/assets/images/ava2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 200px;
  margin: 0 auto;
}


