<div class="about-me-content">
  <h2><a id="Sophiya"></a>
    {{about.firstName}} {{about.secondName}}
  </h2>
  <h3>Front End Developer</h3>
  <div class="photo"></div>
  <p>
    <span>Date of birth:</span>
    {{about.dateBirth}}
  </p>
  <p>
    <span>City:</span>
    {{about.location}}
  </p>
  <p>
    <span>More:</span>
    {{about.description}}
  </p>
  <p>
    <span>Languages:</span>
    {{about.languages}}
  </p>
  <p>
    <span>Education:</span>
    {{about.education.higher}}
  </p>
  <p>
    <span>Courses:</span>
    {{about.education.courses}}
    <br>
    {{about.education.certificate}}
  </p>
</div>
