<div class="about-me-content">
  <h2><a id="Sophiya"></a> Sophia Kalugina</h2>
  <h3>Front End Developer</h3>
  <div class="photo"></div>
  <p>
    <span>Date of birth:</span>
    october 22, 1988
  </p>
  <p>
    <span>City:</span>
    Kiev
  </p>
  <p>
        <span>
          More:
        </span>
    I'm a Front End software developer. I started learning front end in December 2015, at Brain Academy courses. I
    studied layout, styling, Less, Grunt builder, and of course JavaScript. At the moment I am studying such
    technologies as TypeScript, webpack 2, Angular 2. During my professional growth I worked in one small product
    company ParaShoes - this company is engaged in selling shoes. I was envolved in developing a client part of the
    internet showcase.
    I am a young and fast-paced specialist, I am open to new knowledge and technologies, and most importantly - I dream
    to work in a big team of professionals, from which I could learn a lot, be able to improve my knowledge and skills
    and could bring benefit to the project with my work.
  </p>
  <p>
    <span>Languages:</span>
    Ukrainian, Russian, English - advanced: high communicative skills, reading of technical documentation.
  </p>
  <p>
    <span>Education:</span>
    Mariupol State University, foreign languages (English translation)
  </p>
  <p>
    <span>Courses:</span>
    Brain Academy, LLC
    <br>
    Frontend course
    <br>
    Certificate of Achievement Brain Academy Career Certification, Licence 0443
  </p>
</div>
