article {
  margin-top: 150px;
}
.mail {
  padding-top: 55px;
}
.mail-text {
  text-align: center;
}
.mail-text p {
  color: ghostwhite;
}
.mail-text p a,
.preview h4, .preview h5 {
  color: rgba(0, 55, 133, 0.82);
}
.about-me,
.my-experience,
.my-contacts {
  background-color: rgba(25, 33, 44, 0.71);
}
.about-me-content,
.my-experience-content,
.my-contacts-content {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: ghostwhite;
}
.my-experience-content,
.my-contacts-content {
  background-color: transparent;
}
.my-experience-content h2,
.my-contacts-content h2 {
  color: ghostwhite;
}
h2, h3, h4 {
  text-align: center;
}
.photo {
  width: 400px;
  height: 400px;
  background: #000 url("/assets/images/ava2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 200px;
  margin: 0 auto;
}

.exp-item,
.contacts-items {
  display: flex;
  margin: 40px;
}
.preview, .prev-image {
  width: 50%;
  height: 345px;
  padding: 25px;
  background-color: rgba(248, 248, 255, 0.57);
}
.prev-image {
  position: relative;
  margin-left: 20px;
  background: white url("/assets/images/experience/1/label/banner_1.6_2,65.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.show-title {
  height: 100%;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background-color: transparent;
  color: transparent;
}
.show-title h4 {
  display: block;
  padding: 25px;
}
.prev-image:hover .show-title {
  background-color: rgba(10, 10, 13, 0.74);
  color: ghostwhite;
  cursor: pointer;
}
.preview {
  overflow-x: hidden;
}
.prev-image a:hover {
  text-decoration: none;
}
.exp-item:nth-child(2n+3) .prev-image {
  margin-left: 0;
  background: white url("/assets/images/experience/2/label/logo-1200x630.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.exp-item:nth-child(2n+3) .preview {
  margin-left: 25px;
}

.my-contacts-content {
  width: 100%;
}
.contact {
  background-color: rgba(248, 248, 255, 0.57);
  width: 25%;
  height: 110px;
}
.contact a {
  color: #292b2c;
  transition: color 0.5s ease 0s;
}
.contact a:hover {
  color: #2e5b9b;
  text-decoration: none;
}
.contact a:hover .contact-text {
  color: rgba(25, 33, 44, 0.71);
}
.fa {
  display: block;
  text-align: center;
  font-size: 7em;
  color: inherit;
}
.contact-text {
  margin-top: -90px;
  text-align: center;
  font-size: 40px;
  color: ghostwhite;
  transition: color 0.5s ease 0s;
}
#e-mail .contact-text {
  font-size: 38px;
}
