.container {
  width: 100%;
  padding: 0;
}
article {
  margin-top: 150px;
}
.logo {
  margin: 0;
  position: relative;
  z-index: 5;
  text-align: center;
  padding: 340px 0 200px 0;
}
.logo-text a {
  font-size: -webkit-xxx-large;
  font-family: sans-serif;
  color: ghostwhite;
}
.logo-text a:focus,
.logo-text a:hover {
  text-decoration: none;
}
.mail {
  padding-top: 55px;
}
.mail-text {
  text-align: center;
}
.mail-text p {
  color: ghostwhite;
}
h2, h3, span,
.mail-text p a,
.preview h4, .preview h5 {
  color: rgba(0, 55, 133, 0.82);
}
.about-me, .my-experience {
  background-color: rgba(25, 33, 44, 0.71);
}
.about-me-content, .my-experience-content {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: ghostwhite;
}
.my-experience-content {
  background-color: transparent;
}
.my-experience-content h2 {
  color: ghostwhite;
}
h2, h3 {
  text-align: center;
}
.photo {
  width: 400px;
  height: 400px;
  background: #000 url("/assets/images/ava2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 200px;
  margin: 0 auto;
}

.exp-item {
  display: flex;
  margin: 40px;
}
.preview, .prev-image {
  width: 50%;
  height: 345px;
  padding: 25px;
  background-color: rgba(248, 248, 255, 0.57);
}
.prev-image {
  position: relative;
  margin-left: 20px;
  background: white url("/assets/images/banner_1.6_2,65.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.show-title {
  height: 100%;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background-color: transparent;
  color: transparent;
}
.show-title h4 {
  display: block;
  padding: 25px;
}
.prev-image:hover .show-title {
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background-color: rgba(10, 10, 13, 0.74);
  color: ghostwhite;
  cursor: pointer;
}
.preview {
  overflow-x: hidden;
}
.exp-item:nth-child(2n+3) .prev-image {
  margin-left: 0;
  background: white url("/assets/images/logo-1200x630.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.exp-item:nth-child(2n+3) .preview {
  margin-left: 25px;
}
