<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">Contact me</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="logo">
    <div class="logo-text">{{title}}</div>
  </div>

  <article class="about-me">
    <div class="about-me-content">
      <h2>Sophia Kalugina</h2>
      <h3>Front End Developer</h3>
      <p>
        <span>Date of birth:</span>
        october 22, 1988
      </p>
      <p>
        <span>City:</span>
        Kiev
      </p>
      <p>
        <span>
          More:
        </span>
        I'm a Front End software developer. I started learning front end in December 2015, at Brain Academy courses. I studied layout, styling, Less, Grunt builder, and of course JavaScript. At the moment I am studying such technologies as TypeScript, webpack 2, Angular 2. During my professional growth I worked in one small product company ParaShoes - this company is engaged in selling shoes. I was envolved in developing a client part of the internet showcase.
        I am a young and fast-paced specialist, I am open to new knowledge and technologies, and most importantly - I dream to work in a big team of professionals, from which I could learn a lot, be able to improve my knowledge and skills and could bring benefit to the project with my work.
        And also I can speak English very well.
      </p>
    </div>
  </article>
</div>

<router-outlet></router-outlet>

