
.mail {
  padding-top: 55px;
}
.mail-text {
  text-align: center;
}
.mail-text p {
  color: ghostwhite;
}


.my-experience-content {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
}
.show-title {
  background-color: transparent;
}
.my-experience-content h2,
.prev-image:hover .show-title {
  color: ghostwhite;
}
.exp-item {
  display: flex;
  margin: 40px;
}
.preview, .prev-image {
  width: 50%;
  height: 345px;
  padding: 25px;
  background-color: rgba(248, 248, 255, 0.57);
}
.preview h4, .preview h5 {
  color: rgba(0, 55, 133, 0.82);
}
.prev-image {
  position: relative;
  margin-left: 20px;
  background: white url("/assets/images/experience/1/label/banner_1.6_2,65.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.show-title {
  height: 100%;
  transition: background-color, color 0.2s ease-out;
  color: transparent;
}
.show-title h4 {
  display: block;
  padding: 25px;
}
.prev-image:hover .show-title {
  background-color: rgba(10, 10, 13, 0.74);
  color: ghostwhite;
  cursor: pointer;
}
.preview {
  overflow-x: hidden;
}
.prev-image a:hover {
  text-decoration: none;
}
.exp-item:nth-child(2n+3) .prev-image {
  margin-left: 0;
  background: white url("/assets/images/experience/2/label/logo-1200x630.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.exp-item:nth-child(2n+3) .preview {
  margin-left: 25px;
}
