.my-experience-content {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}
.exp-item {
  display: flex;
  margin: 40px;
}
.preview {
  overflow-x: hidden;
  background-color: rgba(248, 248, 255, 0.57);
}
.prev-image {
  position: relative;
  margin-left: 20px;
  background-color: ghostwhite;
}
.show-title {
  top: 0;
  position: absolute;
  background-color: rgba(10, 10, 13, 0.74);
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}
.show-title h4 {
  display: block;
  transition: all 0.3s ease-out;
}

/* Common styles */

.my-experience-content h2, .show-title h4 {
  color: ghostwhite;
}
.preview h4, .preview h5 {
  color: rgba(0, 55, 133, 0.82);
}
.preview, .prev-image {
  width: 50%;
  height: 345px;
}
.prev-image, .show-title h4 {
  padding: 0;
}
.show-title, .show-title h4 {
  opacity: 0;
}
.prev-image:hover .show-title,
.prev-image:hover .show-title h4 {
  opacity: 1;
}
.prev-image img, .show-title {
  width: 100%;
  height: 100%;
}
.preview,
.prev-image:hover .show-title h4 {
  padding: 25px;
}

