#project-logo,
.logo-text ul {
  padding: 0;
}
#project-logo {
  background-color: white;
  height: 520px;
  position: relative;
}
#project-logo-details {
  top: 0;
  position: absolute;
  width: 100%;
}
#project-logo img {
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  position: absolute;
}
.logo-text {
  background-color: rgba(25, 33, 44, 0.71);
}
#project-logo-details button {
  border: 2px solid ghostwhite;
  color: ghostwhite;
  background-color: rgba(25, 33, 44, 0.71);
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 20px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  margin: 45px 0 45px 0;
}
#project-logo-details button:hover {
  background-color: rgba(140, 145, 166, 0.7);
  border: 2px solid transparent;
}
#project-logo-details button:focus {
  outline: none;
}
.logo-text ul {
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  width: 70%;
  justify-content: space-around;
  font-size: 20px;
  padding-bottom: 15px;
}
.logo-text ul li
{
  display: inline-block;
  background-color: rgba(140, 145, 166, 0.7);
  padding: 0 10px;
}

.project-block {
  width: 70%;
  margin: 0 auto;
  background-color: ghostwhite;
}
.about-project {
  width: 100%;
  padding: 20px;
}
.about-project span {

}
.project-views img {
  width: 100%;
}
